body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: #f4a688;
}

h1 {
  margin: 0px;
  margin-bottom: 2em;
  padding: 1rem;
  color: chocolate;
}

hr{
color: thistle;
}

.input {
  border: 1px solid #333;
  border-radius: .3em;
  padding: .25rem;
  width: 10em;
  margin: 1rem;
}

select {
  margin-left: .5rem;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}

.main {

box-shadow: 3px 5px 25px black;
border-radius: 10px;
background: #fff
;
}
